body {
    font-family: 'Ubuntu', sans-serif;
    

}

* { box-sizing: border-box; }

.header {

    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.wrap {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.nav {
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;

}

.nav>li {
    margin-left: 15px;

}

.nav>li>a {
    color: #202020;
    text-decoration: none;
    font-weight: bold;
    margin-right: 37px;


}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo-img {
    background-image: url(../img/logo.svg);
    display: block;
    width: 58px;
    height: 58px;
    margin-right: 25px;
}

.logo-txt {
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #202020;

}

.button-header {
    background-color: #5528FF;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    padding: 3px 13px;
    border-radius: 5px;
    border: 2px solid #5528FF;
}

.page {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;

}

.page-top {
    border-top: solid #C2C2C2 2px;
    
} 

.page h2 {
    position: absolute;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    padding: 5px 15px;
    top: -25px;
    color: #C2C2C2;
}

.button-main {
    margin-top: 15px;
    margin-bottom: 45px;
    background-color: #5528FF;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    padding: 16px 45px;
    border-radius: 10px;
    border: 2px solid #5528FF;
}

.title-main {
    font-weight: bold;
    font-size: 56px;
    line-height: 65px;
    color: #202020;
}

.content-main {
    color: #4F4F4F;
    font-size: 32px;
    line-height: 51px;
    max-width: 750px;
}

.services {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
}

.services-title {
    font-size: 28px;
    line-height: 32px;
}

.services-content {
    font-size: 14px;
    line-height: 16px;
    color: #B2B2B2;
    max-width: 290px;
}

.services-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services-img {
    flex-basis: 100px;
    text-align: center;
}

.services-text {
    flex-basis: calc(100% - 100px);
}

.clients {
    padding-top: 40px;
    display: grid;
    grid-template: 120px 120px / repeat(4, 25%);
    text-align: center;

}

.team {

    margin: 10px 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    text-align: center;
   
}

.team-item {
    padding: 10px;
    margin: 10px 15px;
    display: flex;
    text-align: left;

}

.team-img {
    padding-right: 20px;
}

.team-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 32px;
    color: #202020;
    margin: 0;
}

.team-special {
    font-size: 14px;
    line-height: 16px;
    color: #B2B2B2;
}

footer {
    background-color: #F7F7F7;
}

.footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

}

.soc>ul {
    display: flex;
    list-style-type: none;

}

.soc>ul>li {
    padding-right: 50px;
}

@media (max-width: 769px) {
    .team {
        grid-template: 1fr 1fr 1fr 1fr  / 1fr 1fr;
    }
}

@media (max-width: 415px) {
    .header {
        overflow-y: scroll;
        width: 90%;
    }
    .logo-txt {
        display: none;
    }
    .title-main {
        font-size: 32px;
    }
    .content-main {
        font-size: 22px;
        text-align: justify;
        width: 90%;
    }
    .button-main {
        margin: 0 auto;
        width: 90%;
    }
    .services {
        display: block;
    }
    .services-title {
        font-size: 18px;
    }
    .services-content {
        font-size: 12px;
        max-width: 230px;
        text-align: justify;
    }
    .clients, .team {
        width: 90%;
        display: flex;
        overflow-y: scroll;
    }
    .soc>ul {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
    }
    .soc>ul>li {
        padding-bottom: 10px;
    }

}